@import "daisyui/dist/full.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #374151;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d232a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @media screen and (min-width: 768px) {
    .custom-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }  
}